<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    Your organization
                </div>
            </div>
            <form class="card-content" *ngIf="organization">
                <div>
                    {{organization.owner.name}}
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Name</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" placeholder="RescueTracks Rescue" name="name" [(ngModel)]="organization.name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Address</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" placeholder="Street Address" name="address_line1" [(ngModel)]="organization.address.line1">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" placeholder="Apt/Floor/Unit/Suite (optional)" name="address_line2" [(ngModel)]="organization.address.line2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label"></div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" placeholder="City" name="address_city" [(ngModel)]="organization.address.city">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" placeholder="State" name="address_state" [(ngModel)]="organization.address.state">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" placeholder="Zipcode" name="address_zipcode" [(ngModel)]="organization.address.zipcode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-right">
                    <button type="submit" class="button is-primary is-outlined">Update</button>
                </div>
            </form>
        </div>

        <div class="panel events">
            <div class="panel-heading">
                Events
                <button routerLink="/events/start" class="button is-primary">Add event</button>
            </div>
            <a *ngFor="let event of events;" class="panel-block" [routerLink]="['/events', event.id]" [class.is-active]="event | eventIsActive">
                {{ event | formatEventDate }}
                <span class="has-text-info">{{event.animalCount}} animals</span>
            </a>
            <a *ngIf="events?.length == 0" class="panel-block" routerLink="/events/start">
                <i>No events. Tap here to setup your first one!</i>
            </a>
        </div>
    </div>
    <div class="column">
        <div class="panel">
            <div class="panel-heading">
                Members
                <span class="right-side">
                    <i *ngIf="(activePanel | async) == 'active'">
                        Tap name for options
                    </i>
                    <i *ngIf="(activePanel | async) == 'pending'">
                        Tap name to activate
                    </i>
                    <i *ngIf="(activePanel | async) == 'inactive'">
                        Tap name to re-activate
                    </i>
                    <a routerLink="members">Manage</a>
                </span>
            </div>
            <div class="panel-tabs">
                <a (click)="activePanel.next('active')" [class.is-active]="(activePanel | async) == 'active'">
                    Active
                    <span class="tag is-primary is-rounded">{{statusCounts.active}}</span>
                </a>
                <a (click)="activePanel.next('pending')" [class.is-active]="(activePanel | async) == 'pending'">
                    Pending
                    <span class="tag is-info is-rounded">{{statusCounts.pending}}</span>
                </a>
                <a (click)="activePanel.next('inactive')" [class.is-active]="(activePanel | async) == 'inactive'">
                    Inactive
                    <span class="tag is-light is-rounded">{{statusCounts.inactive}}</span>
                </a>
            </div>
            <div *ngFor="let membership of memberships[(activePanel | async)];" class="panel-block member" (click)="actionForMembership(membership)">
                <span>
                    {{membership.user.nameLastFirst}}
                </span>
                <i>{{membership.user.email}}</i>
            </div>
            <div *ngIf="memberships[(activePanel | async)]?.length == 0;" class="panel-block">
                <i>No {{activePanel | async}} members</i>
            </div>
        </div>
    </div>
</div>
