<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card" *ngIf="meeting | async; let meeting">
        <div class="modal-card-body">
            End {{meeting?.attendee.firstName}}'s meeting with {{meeting?.animals[0].name}}?
            <br>
            Phone: {{meeting?.attendee.phoneNumber}}
            <div *ngIf="adopted">
                YAY!
            </div>
        </div>
        <footer class="modal-card-foot field is-grouped is-grouped-right">
            <div class="control">
                <button class="button is-large is-success" [disabled]="meetingEnded || adopted" (click)="adopt()">Adopt {{meeting?.animals[0].name}}!</button>
                <button class="button is-large is-primary" [disabled]="meetingEnded || adopted" (click)="endMeeting()">Yes</button>
                <button class="button is-large is-danger" [routerLink]="['/events', eventId]">No</button>
            </div>
        </footer>
    </div>
</div>
