<router-outlet *ngIf="!isLoggedIn()">
    <section class="hero" routerLinkActive #rlink="routerLinkActive" [class.is-fullheight]="!rlink.isActive">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Welcome to RescueTracks!
                </h1>
                <h2 class="subtitle" [hidden]="rlink.isActive">
                    Please <a routerLink="/auth/login">login</a> or <a routerLink="/auth/register">register</a>
                </h2>
            </div>
        </div>
    </section>
</router-outlet>
<div *ngIf="isLoggedIn()" class="body">
    <nav class="navbar is-light">
        <div class="container">
            <div class="navbar-brand">
                <h1 class="title navbar-item" routerLink="/">
                    RescueTracks
                </h1>
            </div>
            <div class="navbar-menu is-active is-mobile">
                <div class="navbar-start">
                    <div class="navbar-item is-tab" routerLink="/events/" routerLinkActive="is-active">
                        Events
                    </div>
                    <div *ngIf="!currentOrganization" class="navbar-item is-tab" routerLink="/organization/join" routerLinkActive="is-active">
                        Organization
                    </div>
                    <div *ngIf="currentOrganization" class="navbar-item is-tab" routerLink="/organization" routerLinkActive="is-active">
                        {{currentOrganization.name}}
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        {{displayName}}
                    </div>
                    <div class="navbar-item">
                        <a class="button is-danger" (click)="logout()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section main-container">
        <router-outlet></router-outlet>
    </section>
</div>
<router-outlet name="modal"></router-outlet>
