.event {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.applicants {
    .attendee {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .time {
            padding-left: 1em;
            font-size: 0.7em;
            font-style: italic;
        }
    }

    .empty {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        font-size: 0.7em;
        font-style: italic;
    }
}
