<div class="event" *ngIf="eventModel | async; let event; else loading">
    <h2>Event #{{ event?.id }} for {{ event.organization?.name }} ({{ event | formatEventDate }})</h2>
    <a routerLink="animals">
        <span *ngIf="event.animals.length > 0 ; else addAnimals">{{ event.animals.length }} animals</span>
        <ng-template #addAnimals>Add animals</ng-template>
    </a>
    <div class="waitlist" *ngIf="event | eventIsActive">
        <div class="box">
            <h3>Waitlist</h3>
            <div *ngFor="let attendee of waitlist | async">
                <a [routerLink]="['meeting', attendee.id]">{{attendee.firstName}} {{attendee.lastName[0]}}.</a>
            </div>
        </div>
        <form class="box" (ngSubmit)="addToWaitlist()" #waitlistForm="ngForm">
            <h3>Add person to waitlist</h3>
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">First&nbsp;Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="text" name="firstName" [(ngModel)]="newAttendee.firstName" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Last&nbsp;Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="text" name="lastName" [(ngModel)]="newAttendee.lastName" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Approved?</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="checkbox" name="approved" [(ngModel)]="newAttendee.preapproved" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Email</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="email" name="email" [(ngModel)]="newAttendee.email" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Phone</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="phone" name="phone" [(ngModel)]="newAttendee.phoneNumber" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-grouped is-grouped-right">
                <div class="control">
                    <button class="button is-primary" type="submit" [disabled]="!waitlistForm.form.valid">
                        Add to waitlist
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<ng-template #loading>Loading event...</ng-template>
