<div class="event" *ngIf="eventModel | async; let event; else loading">
    <div>
        <h2 class="title">Event #{{ event?.id }}</h2>
        <h3 class="subtitle">({{ event | formatEventDate }})</h3>
        <!-- <div>Test {{socketTest | async}}</div> -->
        <a routerLink="animals">
            <span *ngIf="event.animals.length > 0 ; else addAnimals">{{ event.animals.length }} animals</span>
            <ng-template #addAnimals>Add animals</ng-template>
        </a>
        <div class="panel applicants" *ngIf="event | eventIsActive">
            <h3 class="panel-heading">Applicants</h3>
            <a *ngFor="let attendance of waitlist | async"
                [routerLink]="['meeting', attendance.id]"
                class="panel-block attendee">
                    {{attendance.__adopter__.firstName}} {{attendance.__adopter__.lastName[0]}}.
                <span class="time">
                    {{attendance.createdAt | timeAgo | async}}
                    <div *ngIf="attendance?.__adopter__.preapproved">Pre-approved</div>
                </span>
            </a>
            <div class="panel-block empty" *ngIf="(waitlist | async)?.length == 0">
                No applicants waiting!
            </div>
        </div>
    </div>
    <div class="panel" *ngIf="(event | eventIsActive) && (myMeetings | async)?.length > 0">
        <h2 class="panel-heading">My current meetings</h2>
        <div class="meeting panel-block" *ngFor="let meeting of myMeetings | async">
            <a *ngIf="meeting?.activeAnimalMeeting" [routerLink]="['/meetings', meeting?.id, 'end']">
                {{meeting?.attendee.firstName}} &amp; {{meeting?.activeAnimalMeeting.animal.name}} <i><small>{{meeting?.activeAnimalMeeting.startedAt | timeAgo | async}}</small></i>
            </a>
            <a *ngIf="!meeting?.activeAnimalMeeting" [routerLink]="['/meetings', meeting?.id]">
                {{meeting?.attendee.firstName}} (not with animal)
            </a>
        </div>
    </div>
    <div *ngIf="event | eventIsActive">
        <form class="box" (ngSubmit)="addToWaitlist()" #waitlistForm="ngForm">
            <h3>Add person to waitlist</h3>
            <div class="field">
                <label class="label">First&nbsp;Name</label>
                <div class="field">
                    <div class="control">
                        <input type="text" name="firstName" [(ngModel)]="newAttendee.firstName" required />
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Last&nbsp;Name</label>
                <div class="field">
                    <div class="control">
                        <input type="text" name="lastName" [(ngModel)]="newAttendee.lastName" required />
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Approved?</label>
                <div class="field">
                    <div class="control">
                        <input type="checkbox" name="approved" [(ngModel)]="newAttendee.preapproved" />
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="field">
                    <div class="control">
                        <input type="email" name="email" [(ngModel)]="newAttendee.email" required />
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Phone</label>
                <div class="field">
                    <div class="control">
                        <input type="phone" name="phone" [(ngModel)]="newAttendee.phoneNumber" required />
                    </div>
                </div>
            </div>
            <div class="field is-grouped is-grouped-right">
                <div class="control">
                    <button class="button is-primary" type="submit" [disabled]="!waitlistForm.form.valid">
                        Add to waitlist
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<ng-template #loading>Loading event...</ng-template>
