// html, body {
//     margin: 0;
//     padding: 0;
//     font-family: Arial, sans-serif;
//     font-size: 1.1rem;
// }

:host {
    display: none;

    @media print {
        width: 5in;
        height: 5.5in;
        padding: 0.6in 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        page-break-inside: avoid;
    }
}

.header {
    height: 7.25rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.thumbnail {
    flex-grow: 1;
    width: 32.2%;
    border-radius: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0.5rem;
}
.name {
    font-size: 0.65in;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;

    &.small {
        font-size: 30px;
        max-width: 14rem;
        text-align: center;
    }
}

.friendlies {
    display: flex;
    flex-flow: row nowrap;
    .badge {
        margin: 0.5em 0.5em 1em;
        height: 3em;
        width: 3em;
        background-position-x: center;
        background-position-y: 0.35em;
        background-size: contain;
        background-repeat: no-repeat;
        border: 8px solid transparent;
        border-radius: 50%;

        &.dogs {
            background-image: url(/assets/images/dog.png);
        }
        &.cats {
            background-image: url(/assets/images/cat.png);
        }
        &.kids {
            background-image: url(/assets/images/kids.png);
        }

        &.yes {
            border-color: green;
        }
        &.no {
            border-color: red;
            &::before {
                content: " ";
                border: 3px solid red;
                width: 3em;
                transform: translate(-0.1em, 1.2em) rotate(-45deg);
                display: block;
            }
        }
    }
}
.footer {
    background-color: transparent;
    width: calc(100% - 0.5em);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.25em;

    .url {
        font-family: 'Amatic SC', cursive;
        font-size: 1.2em;
    }
    .logo img {
        height: 2em;
    }
}
.border {
    display: block;
    width: 100%;
    border-top: 5px solid #1b3057;
    border-bottom: 5px solid #1b3057;
    padding: 5px 0;

    &::before, &::after {
        content: " ";
        display: block;
        width: 100%;
        border-top: 5px solid #1b3057;
    }
}

.circles {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 0.5em 0 0.25em;

    .circle {
        background: #f0b960;
        display: block;
        border-radius: 50%;
    }
}
